{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": [
      "error",
      { "imports": "never", "objects": "always-multiline" }
    ],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}
